<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.stupideme.shucampus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".CampusApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivityMaterial" />
        <activity
            android:name=".ui.NavAboutActivity"
            android:label="关于" />
        <activity
            android:name=".ui.NavProfileActivity"
            android:label="个人资料"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".ui.ReminderNotificationService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".ui.ReminderAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.ReminderDetailActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ReminderAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CourseEditActivity"
            android:label="@string/title_activity_classes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CourseAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.EventEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NavFeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NotifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.EventDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".view.MarkActivity"
            android:label="@string/title_activity_mark"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.EventAddActivity" />
        <activity android:name=".view.CourseActivity"></activity>
    </application>

</manifest>